{% extends 'base.html' %}
{% block header %}
	<img src="static/images/image.jpg" style="width: 150px;height: 
	150px;padding-bottom: 15px">
{% endblock %}

{% block paragraph %}
	<div class="center">
	<div style="padding-left:15%; padding-right:15%"
		<p><b>North Western Machinery was founded by <a href="/Contact">
		Greg Beam</a> in 1990 and is located in Decatur, AL. It started 
		as a mechanic company for big equipment and has since developed 
		a branch for equipment <a href="/Inspections">inspections.</a> 
		It also sells the <a href="/Software">inspection software</a> 
		that is used by the certified and licensed inspectors.</b></p><br>
	</div> <!--close div "center"-->
{% endblock %}
